body {
	margin-left:150px;
	margin-right:210px;
}

.FirstRow{
	width:80px;
	height:35px;
}

.OthRows{
	width:170px;
}

.BotBorder {
	border-bottom:1px solid gray;
}
.alignleft{
	text-align:left;
}

.bigfont{
	font-size:35px;
	font-style:bold;
}
.smallfont{
	font-size:10px;
	font-color:gray;
}
.centeralign{
	width:80px;
	text-align:center;
	height:50px;
	position:relative;
	top:20px;
}
.NumTable{
	border-top:1px solid black;
	border-bottom:1px solid black;
}
.blueblock {
	background-color:#6699ff;
	margin-right:620px;
	height:25px;
	color:white;
}
.alignright tr th{
	text-align:right;
}
.LBgray {
	height:72vh;
	width:100vw;
	background-color:gray;
}
.LB1 {
	position:relative;
	left:400px;
	bottom:50px;
	height:40px;
	width:120px;
	background-color:pink;
	border-radius:5px;
}
.LB1 a{
	color:white;
	text-decoration:none;
	position:relative;
	left:40px;
	top:10px;
}
.LBwhite {
	position:relative;
	top:100px;
	left:120px;
	height:300px;
	width:540px;
	border-radius:10px;
	background-color:white;
}
.LBwhite h3 {
	padding:20px;
}
.LBwhite p {
	padding:20px;
	position:relative;
	bottom:20px;
}
.fbimg{
	float:left;
}
.fbimgtext{
	position:relative;
	left:10px;
}
.fboverflow{
	overflow:hidden;
	position:relative;
	left:10px;
}
.fbcomment{
	position:relative;}